<h2>{{course.name}}</h2>
{{#each course.professors}}
  <h3>{{this.name}}</h3>
  <button onclick="starProfessor('{{this.id}}')">Star</button>
  {{#each this.reviews}}
    <div class="review">
      <p>{{this.text}}</p>
      <button onclick="likeReview('{{this.id}}')">Like ({{this.likes}})</button>
      <button onclick="dislikeReview('{{this.id}}')">Dislike ({{this.dislikes}})</button>
      <form method="POST" action="/comments/{{this.id}}">
        <input type="text" name="comment" placeholder="Add comment">
        <button type="submit">Comment</button>
      </form>
    </div>
  {{/each}}
{{/each}}